# latex error files for failure in md->pdf conversion
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*/template.out
*/template.pdf

# jupyter notebooks
*.DS_Store
*.ipynb_checkpoints

# vscode files
.vscode

# No need to save bib files
*.bib
*.csl

# other people's proposals
51\ Peg/julia_santos*.pdf
51\ Peg/Bergner_statement.pdf